<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access Records</title>
</head>
<body>
    <h1>Here are the records:</h1>
    <div>
        {% if Access_Records %}
            <table>
                <thead>
                    <th>Name</th>
                    <th>Roll Number</th>
                    <th>Message</th>
                </thead>
                {% for i in Access_Records %}
                <tr>
                    <td>{{i.Name}}</td>
                    <td>{{i.RollNumber}}</td>
                    <td>{{i.message }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else%}
                <p>NO records found!!</p>
            {%endif%}

    </div>
</body>
</html>